<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>
            <h2 class = "paragraph-text-Head justify-text">
                "늦었다고 생각할 때가 가장 빠른 때다"
            </h2>

            <p class="paragraph-text justify-text">
                <strong>
                    안녕하세요. '어쩌다 보니' 늦은 나이에 개발자란 길을 선택한 31살 최성희입니다.
                </strong>
            </p>
            <p class = "paragraph-text justify-text">
                개발자란 길을 선택하게 된 이유는 작업 도중 느끼는 소소한 성취감 때문입니다.
                그동안의 삶을 되돌아보면 성취감을 통해 성장하고 있음을 느낄 수 있었고, 그 과정이 즐거웠습니다. <br>
                그 중, 게임 개발을 결심하게 된 계기는 게임이 만들어지는 과정에 대한 호기심으로 시작하여, 종합 예술과 같다는 느낌을 받았기 때문입니다. 게임 클라이언트 개발에 대해 제대로 배워보고 싶다는 생각이 들었고, 연구원으로서 5년이란 시간을 뒤로 하고 기초가 되는 언어 공부부터 시작하여 1년 동안 많은 시간을 할애하여 개발 공부에 집중하였습니다. <br>
                현재 신입 게임 개발자를 꿈꾸면서 5년이라는 재직기간과 대학교 4년이라는 시간은 <strong>'어쩌다 보니 개발자'</strong>라는 단어가 적합해 보였습니다. 늦었지만 어제보다 더 나은 개발자가 되기 위해 하루하루 후회없이 최선을 다하고 있습니다. 
            </p>
        </div>
    </section>
</div>
