<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="Personal" class="semi-transparent-button with-border white-button" onclick="selected('Personal')">개인</a>
                    <a id="Team" class="semi-transparent-button with-border white-button" onclick="selected('Team')">팀</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>